{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Enter Symbol" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Enter number" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
{% endblock %}
